<div class="section5Title">
    <h2>About Us</h2>
</div>
<div class="flex-container-section5">
    <div class="flex-container-section5-item">
        <img src="assets/about.svg" alt="" class="aboutSVG">
    </div>
    <div class="flex-container-section5-item">
        <p class="section5Paragraphs section5ParaStyle">The decision to choose a career often has to be taken at a tender age or when facing an early or mid-life crises. There is no individual who can excel at everything nor is there any individual who can excel at nothing. We at Wise Achievers fully understand this.</p>
        <p class="section5ParaStyle">In order to get it right every time we have developed scientifically designed advanced modern psychometric testing tools. We have a dedicated team of qualified and experienced counselors.</p>
    </div>
</div>