<div class="data-card graphContainer" id="source-html">
  <h5>Name : {{ graphInfo.fullName }}</h5>
  <!--     <h3>Agae : </h3>
 -->
  <div *ngIf="graphInfo.test_2.completed && graphInfo.test_3.completed">
    <h2>Career Interest</h2>
    <div class="data-card" style="background-color: white">
      <div id="barContainerCareer2"></div>
    </div>
    <div class="data-card" style="background-color: white">
      <div id="container"></div>
    </div>
  </div>
  <div *ngIf="graphInfo.test_4.completed && graphInfo.test_5.completed">
    <h2>Personality</h2>
    <div class="data-card" style="background-color: white">
      <div id="barContainerPersonality1"></div>
    </div>

    <div class="data-card" style="background-color: white">
      <div id="barContainerPersonality2"></div>
    </div>
  </div>
  <h2>Aptitudes and Abilities</h2>
  <div class="data-card" style="background-color: white">
    <div id="barContainerAptitude"></div>
  </div>
</div>
