<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Contact Us</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card" style="width: 18rem; margin-left: 85px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Phone: <a href="https://wa.me/9819439307" target="_blank" rel="noopener noreferrer">9819439307</a></h5>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="card" style="width: 22rem; margin-left: 52px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Email: info@wiseachievers.com</h5>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="card" style="width: 18rem; margin-left: 92px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Address: <a href="https://www.google.com/maps/place/Om+Chaitanya+Co-op+Housing+Soceity/@19.2808503,72.8666072,19.17z/data=!4m5!3m4!1s0x0:0xc59361491bbfbfe2!8m2!3d19.2812043!4d72.8667254" target="_blank" rel="noopener noreferrer">503/504, Om Chaitanya, Shanti Park, Mira Road (E) Thane 401107 Maharashtra India</a></h5>
        </div>
      </div>
    </div>
  </div>