<div class="section6Container">
    <h2>Our Pricing</h2>
    <div class="columns">
        <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">Free consultation</li>
            <li>Call or drop-in to explore possibilities for your career.</li>
            <li class="grey"><a href="#" class="button" (click)="openSignupModal()">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header" style="background-color:#0062cc">Pro</li>
            <li class="grey">&#x20b9; 750 / session</li>
            <li>One to one counselling (2 hrs.)</li>
            <li>Suitable for students who are more or less sure about their career choice.</li>
            <li class="grey"><a href="#" class="button" (click)="openSignupModal()">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header">Premium</li>
            <li class="grey">&#x20b9; 1500 / session</li>
            <li>One to one counselling (2 hrs.)</li>
            <li>Carefully curated Psychometric Tests</li>
            <li>Find out the best way forward for your career however unsure or confused you are.</li>
            <li class="grey"><a href="#" class="button" (click)="openSignupModal()">Sign Up</a></li>
        </ul>
    </div>

</div>