  <div class="container contactContainer">
    <div class="row">
      <div class="col-md-2 contactContent">
        <i class="fa fa-phone fa-lg"></i>
        <h2><a href="https://wa.me/9819439307" target="_blank" rel="noopener noreferrer">9819439307</a></h2>
      </div>
      <div class="col-md-7 contactContent">
        <i class="fa fa-map-marker fa-lg"></i>
        <h2><a href="https://www.google.com/maps/place/Om+Chaitanya+Co-op+Housing+Soceity/@19.2808503,72.8666072,19.17z/data=!4m5!3m4!1s0x0:0xc59361491bbfbfe2!8m2!3d19.2812043!4d72.8667254" target="_blank" rel="noopener noreferrer">Shop No. 16, Fantasy Tower, Shanti Park, Mira Road (E), Thane - 401107, Maharashtra.</a></h2>
      </div>
      <div class="col-md-3 contactContent">
        <i class="fa fa-envelope fa-lg"></i>
        <h2>wiseachievers1@gmail.com</h2>
      </div>
     
    </div>
  </div>
