<div style="text-align: center;">
    <h2>Most Relevant FAQs</h2>
</div>
<div style="margin-left: 75px;">
    <div>
        <h3><strong>Question 1.</strong></h3>
    </div>
    <div>
        <p>lorem ipsum ahskfnknfk ninfkdnf indkfndkf idnfkdfn ndkfnd kndfkndf </p>
    </div>
    <br>
    <div>
        <h3><strong>Question 2.</strong></h3>
    </div>
    <div>
        <p>lorem ipsum ahskfnknfk ninfkdnf indkfndkf idnfkdfn ndkfnd kndfkndf </p>
    </div>
    <br>
    <div>
        <h3><strong>Question 3.</strong></h3>
    </div>
    <div>
        <p>lorem ipsum ahskfnknfk ninfkdnf indkfndkf idnfkdfn ndkfnd kndfkndf </p>
    </div>
</div>