<div class=" flex-container-common value-container" > 
    <div class="flex-container-common-item">
        <img src="assets/values.svg" alt="" class="valuesSVG">
    </div>
    <div class="flex-container-common-item" >
        <h2>Values We Uphold</h2>
        <p>To ensure that every individual whether child or adult has access to professional career advice, guiding him or her in choosing, progressing towards and working in the right career according to his or her interest, personal traits and abilities.</p>
        <p>This leads to a meaningful, healthy, successful and happy life.</p>
    </div>
</div>
