<div class="testContainer">
  <div class="row">
    <div class="col-md-4">
      <div
        class="data-card"
        style="cursor: pointer"
        [ngClass]="{ disabledClass: disablingClass() }"
        (click)="TestSelection('test_1', 1, 'test_2', 'test_3')"
      >
        <h4>Career Interest Profiler</h4>
        <span class="link-text">
          Start Test
          <img src="assets/arrow.svg" alt="Wise Acievers winning" />
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div
        class="data-card"
        style="cursor: pointer"
        (click)="TestSelection('test_4', 2, 'test_5')"
      >
        <h4>Personality Profiler.</h4>
        <span class="link-text">
          Start Test
          <img src="assets/arrow.svg" alt="Wise Acievers winning" />
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-card" style="cursor: pointer">
        <h4>Numerical Reasoning.</h4>
        <span class="link-text">
          Start Test
          <img src="assets/arrow.svg" alt="Wise Acievers winning" />
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="data-card" style="cursor: pointer">
        <h4>English Aptitude.</h4>
        <span class="link-text">
          Start Test
          <img src="assets/arrow.svg" alt="Wise Acievers winning" />
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-card" style="cursor: pointer">
        <h4>Mechanical Aptitude.</h4>
        <span class="link-text">
          Start Test
          <img src="assets/arrow.svg" alt="Wise Acievers winning" />
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="data-card" style="cursor: pointer">
        <h4>Visual Spatial Test.</h4>
        <span class="link-text">
          Start Test
          <img src="assets/arrow.svg" alt="Wise Acievers winning" />
        </span>
      </div>
    </div>
  </div>
</div>
