.data-card {
  display: flex;
  flex-direction: column;
  min-height: 20px;
  height: 140px;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  margin: 1em;
  padding: 20px 2.5em;
  box-shadow: 1em 1em 1.5em -0.5em #0000001a;
  transition: transform 0.45s ease, background 0.45s ease;
  background-color: white;

  h3 {
    color: #2e3c40;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #0062cc;
    transition: color 0.45s ease, border 0.45s ease;
  }

  h4 {
    /* 
      border-bottom: 2px solid #0062cc;*/
    color: #7e84bb;
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    //letter-spacing: .1em;
    padding-bottom: 0.5em;
    margin: 0 0 0.14em;
    border-bottom: 2px solid #76e5f1;
    transition: color 0.45s ease;
  }

  p {
    opacity: 0;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity 0.45s ease, transform 0.5s ease;
  }

  .link-text {
    display: block;
    color: #818de9;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color 0.45s ease;

    svg {
      margin-left: 0.5em;
      transition: transform 0.6s ease;

      path {
        transition: fill 0.45s ease;
      }
    }
  }

  &:hover {
    background: #0062cc;
    transform: scale(1.02);

    h3 {
      color: #ffffff;
      border-bottom-color: white;
    }

    h4 {
      color: #ffffff;
      border-bottom-color: white;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #ffffff;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #ffffff;
        }
      }
    }
  }
}

.disabledClass {
  background-color: lightgray !important;
  cursor: not-allowed !important;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

.testContainer > * {
  margin: 0 10px;
}
