<!--<div class="flex-container">
    <div class="flex-item ">
        <span class="logoSpan"><img src="assets/eagle.png" alt="Eagle Logo" class="logoImage"></span>
        <h4 class="titleLogo"><strong>Wise Achievers</strong></h4>
    </div>
    <div class="flex-item flex-item-down">
        <p><i class="fa fa-phone iconsTheme" aria-hidden="true"></i> Tel: <a href="https://wa.me/9819439307" target="_blank" rel="noopener noreferrer">9819439307</a></p>
    </div>
    <div class="flex-item flex-item-down">
        <p><i class="fa fa-envelope iconsTheme" aria-hidden="true"></i> info@wiseAchievers.com</p>
    </div>

    <div class="flex-item flex-item-down" *ngIf="!token">
        <button class="btn btn-primary squareButtons loginButton" (click)="openLoginModal()">Login</button> 
        <button class="btn btn-primary squareButtons" (click)="openSignupModal()">Sign-Up</button>
    </div>
    <div class="flex-item flex-item-down" *ngIf="token">
      <span>Hi! {{username}}</span>
      <button class="btn btn-primary squareButtons ml-3" (click)="logout()">Logout</button>
  </div>
</div>  -->


<!--<div class="top-bar d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="top-bar-left">
                    <div class="">
                        <img src="assets/eagle.png" alt="Eagle Logo" class="logoImage">
                    </div>
                    <div class="text">
                        <h4 class="titleLogo"><strong>Wise Achievers</strong></h4>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="top-bar-right">
                    <div class="text">
                        <i class="fa fa-phone"></i>
                        <p><a href="https://wa.me/9819439307" target="_blank" rel="noopener noreferrer">9819439307</a></p>
                    </div>
                    <div class="text">
                        <i class="fa fa-envelope iconsTheme"></i>
                        <p>info@wiseAchievers.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="top-bar d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="top-bar-left">
                    <div class="text">
                        <i class="fa fa-phone"></i>
                        <p><a href="https://wa.me/9819439307" target="_blank" rel="noopener noreferrer">9819439307</a></p>
                    </div>
                    <div class="text">
                        <i class="fa fa-envelope"></i>
                        <p>info@wiseachievers.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-bar-right">
                    <div class="social">
                        <a href=""><i class="fa fa-twitter "></i></a>
                        <a href=""><i class="fa fa-facebook "></i></a>
                        <a href=""><i class="fa fa-instagram "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












<router-outlet></router-outlet>