<nav class="navbar navbar-expand-lg navbar-light navbarTheme">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarTheme" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbarLinks" href="#" routerLink='/home'>Home</a>
        <a class="navbarLinks" href="#" routerLink="/values">Our Values</a>
        <a class="navbarLinks" href="#">Gallery</a>
        <a class="navbarLinks" href="#">Test</a>
        <a class="navbarLinks" href="#">Our Mentors</a>
        <a class="navbarLinks" href="#">Reviews</a>
        <a class="navbarLinks" href="#">Blog</a>
        <a class="navbarLinks" href="#">Contact Us</a>
      </div>
    </div>
</nav>