<div class="mentor-container">
<div class="card border-dark mb-3" >
    <div class="flex-container-common">
        <div class="lex-container-common-item">
            <img src="assets/thomas.png" alt="Mentor">
        </div>
        <div class="lex-container-common-item">
            <p >30 years international experience in Human Resource Management and Recruitment as a UAE based NRI.</p>
            <p>In the last six years I have used my above experience to become into an excellent Career Counseling and Guidance expert. I am also into related activities of Life Coaching and Skill Development.</p>
            <p>Extensive experience in designing and administering psychometric testing for Career Interest, Aptitude and Personality type based on relevant theories.</p>
            <p>Master Trainers Certificate from Indian Academy For Training Development Certificate in Career Counseling and Guidance under recognition of the ‘Ministry of Corporate Affairs’. Govt. of India.</p>
            <h2 >- Mentor Thomas D'souza</h2>
        </div>
    </div>
</div>
</div>