<section class="question-page">
  <div class="question-card" *ngIf="assessment && currentQuestion">
    <p class="step-label">
      Question {{ questionNumber }} of {{ assessment.questions.length }}
    </p>
    <h2>{{ currentQuestion.questionTitle }}</h2>
    <!-- <blockquote class="question-quote">
      <p>{{ currentQuestion.quote }}</p>
      <cite>{{ currentQuestion.quoteAuthor }}</cite>
    </blockquote> -->
    <p class="question-copy">{{ currentQuestion.question }}</p>

    <div class="scale-options">
      <label
        class="scale-option"
        *ngFor="let option of currentQuestionOptions"
        [attr.for]="'question-' + currentQuestion.id + '-' + option.question"
      >
        <input
          type="radio"
          [id]="'question-' + currentQuestion.id + '-' + option.question"
          [name]="'question-' + currentQuestion.id"
          [value]="option.question"
          [checked]="
            selectedAnswers[currentQuestion.id]?.question === option.question
          "
          (change)="saveAnswer(option)"
        />
        <span>{{ option.question }}</span>
      </label>
    </div>

    <div class="actions">
      <button
        class="btn btn-primary next-action"
        (click)="goToNextQuestion()"
        *ngIf="!isLastQuestion()"
        [disabled]="!hasAnsweredCurrentQuestion()"
      >
        Next Question
      </button>
      <button
        class="btn btn-success next-action"
        (click)="submitTest()"
        *ngIf="isLastQuestion()"
        [disabled]="!hasAnsweredCurrentQuestion()"
      >
        Submit Test
      </button>
      <button
        class="btn btn-outline-primary previous-action"
        (click)="goToPreviousQuestion()"
        [disabled]="isFirstQuestion()"
      >
        Previous Question
      </button>
    </div>
  </div>
</section>
