<div class="container homeContainer ">

<div class="section1Container">
    <div class="row">
        <div class="col-md-6">
            <h2>The choice of your career is the most important decision in your lifetime</h2>
        <div  class><h4>Get it right with us!</h4></div>
        <div >
            <ul>
                <li><p>Extensive psychometric testing</p></li>
                <li ><p>Counseling by experienced mentors</p></li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary squareButtons" >Free Consulting</button>
        </div>
        </div>
        <div class="col-md-6">
            <img src="assets/achievers.svg" alt="Wise Acievers winning" class="trophySVG">
        </div>

    </div>

</div>

<div class="section2Container">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/section2.svg" alt="why wise Achievers" class="section2SVG">
        </div>
        <div class="col-md-6">
            <h2><strong>Why Wise Achievers?</strong></h2>
            <div class="section2Paragraphs">
                <p class="section2ParaStyle">Beginning from vocational guidance we help you to choose the right, suitable and appropriate career for you and support you in developing it.</p>
                <p class="section2ParaStyle">The choice of a career is the most important decision of a lifetime. If one gets this decision wrong the losses suffered are innumerable. It affects the individual not only monetarily but also in areas of health, relationships and other areas of life. Changing a career is not an option which is easily available. It involves beginning all over again in the new career.</p>
                <p class="section2ParaStyle">Keeping all the above in mind we have developed tools and have expert personnel in order to make sure we get it right all the time for guaranteed success.</p>
            </div>
        </div>
    </div>

<div class="section3Container">
    <div class="">
        <h2><strong>Our 4 Step Strategy</strong></h2>
    </div>
</div>
<div class="timeline">
<div class="container">
<div class="row">
    <div class="col-lg-12">
    <div class="timeline-container">
        <div class="timeline-end">
        <p>BEGIN</p>
        </div>
        <div class="timeline-continue">

        <div class="row timeline-right">
            <div class="col-md-6">
            <p class="timeline-date">
                STEP 1
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon">
                <span class="flaticon-collaboration"></span>
                </div>
                <div class="timeline-text">
                <h3>Professional Consultation</h3>
                <p>Answer questions on importance of career guidance, how it will help you and why it is absolutely necessary to be undertaken</p>
                </div>
            </div>
            </div>
        </div>

        <div class="row timeline-left">
            <div class="col-md-6 d-md-none d-block">
            <p class="timeline-date">
                STEP 2
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon d-md-none d-block">
                <i class="fa fa-business-time"></i>
                </div>
                <div class="timeline-text">
                <h3>Psychometric Assessment</h3>
                <p>Scientifically designed advanced modern psychometric assessment test.</p>
                </div>
                <div class="timeline-icon d-md-block d-none">
                <i class="fa fa-business-time"></i>
                </div>
            </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
            <p class="timeline-date">
                STEP 2
            </p>
            </div>
        </div>

        <div class="row timeline-right">
            <div class="col-md-6">
            <p class="timeline-date">
                STEP 3
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon">
                <i class="fa fa-briefcase"></i>
                </div>
                <div class="timeline-text">
                <h3>Counseling</h3>
                <p>Personalized one to one career counseling and guidance by experts in the field.</p>
                </div>
            </div>
            </div>
        </div>

        <div class="row timeline-left">
            <div class="col-md-6 d-md-none d-block">
            <p class="timeline-date">
                STEP 4
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon d-md-none d-block">
                <i class="fa fa-cogs"></i>
                </div>
                <div class="timeline-text">
                <h3>Career Development</h3>
                <p>Support and advice on right relevant education and training required.</p>
                </div>
                <div class="timeline-icon d-md-block d-none">
                <i class="fa fa-cogs"></i>
                </div>
            </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <p class="timeline-date">
                    STEP 4
                </p>
            </div>
        </div>
        </div>
        <div class="timeline-start">
        <p>SUCCEED</p>
        </div>
    </div>
    </div>
</div>
</div>
</div>

<div class="section4Container" >
    <h2>Most Relevant FAQs</h2>
</div>
<div class="row">
    <div class="col-md-8">
        <div>
            <h3><strong>Question 1.</strong></h3>
        </div>
        <div>
            <p>lorem ipsum ahskfnknfk ninfkdnf indkfndkf idnfkdfn ndkfnd kndfkndf </p>
        </div>
        <br>
        <div>
            <h3><strong>Question 2.</strong></h3>
        </div>
        <div>
            <p>lorem ipsum ahskfnknfk ninfkdnf indkfndkf idnfkdfn ndkfnd kndfkndf </p>
        </div>
        <br>
        <div>
            <h3><strong>Question 3.</strong></h3>
        </div>
        <div>
            <p>lorem ipsum ahskfnknfk ninfkdnf indkfndkf idnfkdfn ndkfnd kndfkndf </p>
        </div>
    </div>

</div>



<div class="section5Container">
<div class="row">
    <div class="col-md-6">
        <img src="assets/about.svg" alt="about" >
    </div>
    <div class="col-md-6 section5Paragraphs">
        <div>
        <h2>About Us</h2>
        <p >The decision to choose a career often has to be taken at a tender age or when facing an early or mid-life crises. There is no individual who can excel at everything nor is there any individual who can excel at nothing. We at Wise Achievers fully understand this.</p>
        <p >In order to get it right every time we have developed scientifically designed advanced modern psychometric testing tools. We have a dedicated team of qualified and experienced counselors.</p>
        </div>
    </div>

</div>



</div>



