<div>
    <div class="section3Title">
        <h2><strong>Our 4 Step Strategy</strong></h2>
    </div>
</div>
<div class="timeline">
<div class="container">
<div class="row">
    <div class="col-lg-12">
    <div class="timeline-container">
        <div class="timeline-end">
        <p>BEGIN</p>
        </div>
        <div class="timeline-continue">

        <div class="row timeline-right">
            <div class="col-md-6">
            <p class="timeline-date">
                STEP 1
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon">
                <!-- <i class="fa fa-gift"></i> -->
                <span class="flaticon-collaboration"></span>
                </div>
                <div class="timeline-text">
                <h3>Professional Consultation</h3>
                <p>Answer questions on importance of career guidance, how it will help you and why it is absolutely necessary to be undertaken</p>
                </div>
            </div>
            </div>
        </div>

        <div class="row timeline-left">
            <div class="col-md-6 d-md-none d-block">
            <p class="timeline-date">
                STEP 2
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon d-md-none d-block">
                <i class="fa fa-business-time"></i>
                </div>
                <div class="timeline-text">
                <h3>Psychometric Assessment</h3>
                <p>Scientifically designed advanced modern psychometric assessment test.</p>
                </div>
                <div class="timeline-icon d-md-block d-none">
                <i class="fa fa-business-time"></i>
                </div>
            </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
            <p class="timeline-date">
                STEP 2
            </p>
            </div>
        </div>

        <div class="row timeline-right">
            <div class="col-md-6">
            <p class="timeline-date">
                STEP 3
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon">
                <i class="fa fa-briefcase"></i>
                </div>
                <div class="timeline-text">
                <h3>Counseling</h3>
                <p>Personalized one to one career counseling and guidance by experts in the field.</p>
                </div>
            </div>
            </div>
        </div>

        <div class="row timeline-left">
            <div class="col-md-6 d-md-none d-block">
            <p class="timeline-date">
                STEP 4
            </p>
            </div>
            <div class="col-md-6">
            <div class="timeline-box">
                <div class="timeline-icon d-md-none d-block">
                <i class="fa fa-cogs"></i>
                </div>
                <div class="timeline-text">
                <h3>Career Development</h3>
                <p>Support and advice on right relevant education and training required.</p>
                </div>
                <div class="timeline-icon d-md-block d-none">
                <i class="fa fa-cogs"></i>
                </div>
            </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <p class="timeline-date">
                    STEP 4
                </p>
            </div>
        </div>
        </div>
        <div class="timeline-start">
        <p>SUCCEED</p>
        </div>
    </div>
    </div>
</div>
</div>
</div>