<div class="flex-container-section2">
    <div class="flex-container-section2-item">
        <img src="assets/section2.svg" alt="" class="section2SVG">
    </div>
    <div class="flex-container-section2-item">
        <div class="section2Title">
            <h2><strong>Why Wise Achievers?</strong></h2>
        </div>
        <div class="section2Paragraphs">
            <p class="section2ParaStyle">Beginning from vocational guidance we help you to choose the right, suitable and appropriate career for you and support you in developing it.</p>
            <p class="section2ParaStyle">The choice of a career is the most important decision of a lifetime. If one gets this decision wrong the losses suffered are innumerable. It affects the individual not only monetarily but also in areas of health, relationships and other areas of life. Changing a career is not an option which is easily available. It involves beginning all over again in the new career.</p>
            <p class="section2ParaStyle">Keeping all the above in mind we have developed tools and have expert personnel in order to make sure we get it right all the time for guaranteed success.</p>
        </div>
    </div>
</div>