<app-top-band></app-top-band>
<app-navbar></app-navbar>
<br>
<div style="text-align: center;">
    <h2>See what our clients have to say about us.</h2>
</div>
<div style="float: left;">
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" style="margin-left: 300px; margin-top: 20px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card" style="width:760px;">
            <div class="card-header">
              Review
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>My son is in 8th Grade. And we took Thomas sir counseling for subject selection and career guidance. . His insight and knowledge boast positivity in my child. He counseling helped us to take our decision with confidence.</p>
                <br>
                <footer class="blockquote-footer">Meghal Shah 14/06/2021</footer> 
              </blockquote>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" style="margin-left: -76px; width: 65px;" href="#carouselExampleControls" role="button" data-slide="prev">
      <span style="background-color: black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" style="margin-right: -76px; width: 65px;" href="#carouselExampleControls" role="button" data-slide="next">
      <span style="background-color: black;" class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
</div>
</div>

