<app-top-band></app-top-band>
<app-navbar></app-navbar>
<div class="flex-container-home">
    <div class="flex-item-home" style="margin-left: 75px;">
        <h2>The choice of your career is the most important decision in your lifetime</h2>
        <div style="margin-left: 145px; margin-top: 30px;"><h4>Get it right with us!</h4></div>
        <div style="margin-top: 50px;">
            <ul>
                <li class="pointsHome">Extensive psychometric testing</li>
                <li class="pointsHome">Counseling by experienced mentors</li>
            </ul>
        </div>
        <div>
            <button class="btn btn-primary callButtons" style="margin-top: 40px;">Free Consulting</button>
        </div>
    </div>
    <div class="flex-item-home" style="margin-right: 75px;">
        <img src="assets/achievers.svg" alt="Wise Acievers winning" class="trophySVG">
    </div>
</div>
<app-section2></app-section2>
<br><br><br>
<app-section3></app-section3>
<app-section4></app-section4>
<br><br><br><br>
<app-section5></app-section5>