<div class="container1">
  <div class="row">
    <div class="col-md-12">
      <div class="data-card" *ngIf="TestQuiz">
        <h3>{{ TestName(routeParam) }}{{ RelationMapping(relation) }}</h3>
        <div
          *ngIf="templateArray.includes(routeParam) && !isAdmin"
          class="timerClass"
          id="timer"
        >
          <h5 class="pr-4">
            Time Remaining &nbsp; : &nbsp;{{ formatTime(timeLeft) }}
          </h5>
        </div>
        <div *ngIf="templateArray.includes(routeParam)">
          <timer-based-test
            [TestQuiz]="TestQuiz"
            [submissionPart]="submissionPart"
            [TestType]="relation"
            [firstRelation]="firstRelation"
            (questionIncrement)="questionIncremented($event)"
            (finalObj)="finalObjReturned($event)"
            (submitExampleTestEmitter1)="submitTimerBasedTest($event)"
            (traverseTestEmitter)="traverseTest($event)"
          ></timer-based-test>
        </div>
        <div *ngIf="!templateArray.includes(routeParam)">
          <app-career-profiler
            [TestQuiz]="TestQuiz"
            [submissionPart]="submissionPart"
            [TestType]="relation"
            [firstRelation]="firstRelation"
            (questionIncrement)="questionIncremented($event)"
            (finalObj)="finalObjReturned($event)"
            (submitExampleTestEmitter)="submitExampleTest($event)"
            (traverseTestEmitter)="traverseTest($event)"
          ></app-career-profiler>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- style="top: 80px;
        position: sticky;
        background: #ecf3f4;padding:10px 20px" -->

<!--  <div class="questionNumberContainer">
          <div
            class="questionNumberBox"
            id="b{{ ques }}"
            [ngClass]="{ activeClass: ques == currentQuestion }"
            *ngFor="let ques of incrementBoxes; let i = index"
          >
            <p>{{ ques + 1 }}</p>
          </div>
          <div *ngIf="TestQuiz.length > 3">
            <sub><i class="fa fa-circle" aria-hidden="true" fa-lg></i></sub>
            <sub><i class="fa fa-circle" aria-hidden="true" fa-lg></i></sub>
            <sub><i class="fa fa-circle" aria-hidden="true" fa-lg></i></sub>
          </div>-->

<!-- <div *ngIf="result == true" >
<div style="display: flex; justify-content: center;">
    <div style="display: block; height: 300px; width: 600px;">
        <canvas baseChart height="50%" width="50%"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
    </div>
</div>
</div>-->
