<div class="container" *ngIf="result == false">
    <div class="row">
        <div class="col-md-12">
            <div  class="data-card"  >
                <h5>Career Interest Profiler : Part 1 </h5>
                <!--<div>
                    <p>{{ currentQuestion + 1 }} out of 9 Questions</p>
                </div>-->
                <div class="questionNumberContainer">
                    <div class="questionNumberBox" id="b{{i}}" [ngClass]="{'activeClass': i == currentQuestion}"  *ngFor="let ques of totalQuestion;let i=index">
                    <p>{{i+1}}</p>
                    </div>
                    <div *ngIf="currentQuestion == totalQuestion.length-1" class="ml-auto">
                    <button class="btn btn-primary squareButtons" (click)="nextQuestion('bar')">Submit Test</button>
                    </div>
               
                </div>

                <div  class="data-card inner-data-card" ><!--*ngIf="result == false"-->           
                    <div>
                       <span><i class="fa fa-question-circle" aria-hidden="true"></i>
                       </span><span class="question">{{ exampleTestQuiz[currentQuestion].question }}</span>
                    </div>
                    <div class="choiceContainer">
                     <table >
                            <tr>
                                <th>Options</th>
                                <th>1st Preference</th>
                                <th>2nd Preference</th>
                                <th>3rd Preference</th>
                            </tr>
                            <tr *ngFor="let quiz of exampleTestQuiz[currentQuestion]['options'];let i =index">
                                <td>{{ quiz.value }}</td>
                                <td class="input"><input type="radio" name="{{i}}" id="f{{i+1}}" value="{{ quiz.real }}" (change)="preferenceSelection('First',$event,i+1)"></td>
                                <td class="input"><input type="radio" name="{{i}}" id="s{{i+1}}" value="{{ quiz.real }}" (change)="preferenceSelection('Second',$event,i+1)"></td>
                                <td class="input"><input type="radio" name="{{i}}" id="t{{i+1}}" value="{{ quiz.real }}" (change)="preferenceSelection('Third',$event,i+1)"></td>
                            </tr>
                        </table> 
                          
                    </div>
                    <div >
                        <button class="btn btn-primary squareButtons stepBtn" [disabled]="currentQuestion == 0" (click)="prevQues()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                        <button class="btn btn-primary squareButtons stepBtn ml-2" [disabled]="currentQuestion >= totalQuestion.length-1" (click)="nextQuestion()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
                    </div>
              </div>
            </div>
    </div>
</div>


<div *ngIf="result == true" >
<div style="display: flex; justify-content: center;">
    <div style="display: block; height: 300px; width: 600px;">
        <canvas baseChart height="50%" width="50%"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
    </div>
</div>
</div>
