<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div  class="data-card" *ngIf="TestQuiz" >
                <h5>Career Interest Profiler : Part {{uniqueRelation[0]}} </h5>
        
                <div class="questionNumberContainer">
                    <div class="questionNumberBox" id="b{{i}}" [ngClass]="{'activeClass': i == currentQuestion}"  *ngFor="let ques of TestQuiz;let i=index">
                    <p>{{i+1}}</p>
                    </div>
                    <div *ngIf="currentQuestion == TestQuiz.length-1" class="ml-auto">
                    <button class="btn btn-primary squareButtons" (click)="submitExampleTest()">Submit Test</button>
                    </div>
               
                </div>

               

              <app-career-profiler [TestQuiz]="TestQuiz" [submissionPart]="submissionPart" (questionIncrement)="questionIncremented($event)" (finalObj)="finalObjReturned($event)"></app-career-profiler>


            </div>
    </div>
</div>


<!-- <div *ngIf="result == true" >
<div style="display: flex; justify-content: center;">
    <div style="display: block; height: 300px; width: 600px;">
        <canvas baseChart height="50%" width="50%"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
    </div>
</div>
</div>-->
